@font-face {
  font-family: 'Droid Sans';
  font-weight: normal;
  src: url(../fonts/DroidSans.ttf); 
}

@font-face {
  font-family: 'Droid Sans';
  font-weight: bold;
  src: url(../fonts/DroidSans-Bold.ttf); 
}

html, body{
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	background: #F5F5F5;
}

.wrapper{
	margin: 0 auto;
	width:960px;
	height: 1000px;
	background: #FFFFFF;
}

svg{
  border:solid pink;
}

.bubbles{
   stroke: #292B25;
   stroke-width: 1.5;
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: white;
  -moz-opacity: 0.90;
  opacity:.90;
  filter: alpha(opacity=90);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: black;
}

div #legend ul{
  list-style: none;
  width: auto;


}

div #legend ul li{
  height: 20px;
  display: inline-block;
  font-size: 10px;
  float: left;
  margin-right: 4px;

}

.legend_text{
  padding-top: 4px;
  width: auto;
}
.legend_color1{
  width: 20px;
  background: #97BF3F;
  border:2px solid #292B25;
}
.legend_color2{
   width: 20px;
  background: #F2ECD8;
  border:2px solid #292B25;
}

.legend_color3{
   width: 20px;
  background: #FF4500;
  border:2px solid #292B25;
}

#buttons h1{
  clear: both;
  float: left;
  cursor: pointer;
}

      .axis path,
      .axis line {
      fill: none;
      stroke: #000;
      stroke-width: 0px;
      shape-rendering: crispEdges;
      }

.axisAge, .axisGender{
   display: none;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}