@font-face {
  font-family: 'Droid Sans';
  font-weight: normal;
  src: url(../fonts/DroidSans.ttf); 
}

@font-face {
  font-family: 'Droid Sans';
  font-weight: bold;
  src: url(../fonts/DroidSans-Bold.ttf); 
}

html, body{
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	/*background: #F5F5F5;*/
  background: #EEE;
}

.wrapper{
	margin: 0 auto;
	width:960px;
	height: 1000px;
	background: #EEE;
  position: relative;
}

.title{
  width: 400px;
  margin: 10px 0;
  padding: 5px 0;
     -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 2px solid #C9C9C9;
background-color: #FFF;
float: left;
height: 75px;
}
svg{
  /*border:solid pink;*/

}

.bubbles{
 stroke: #292B25;
 stroke-width: 1.5;
}

#tooltip {
  /*position: absolute;*/
  float: left;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: white;
  -moz-opacity: 1;
  opacity:1;
  filter: alpha(opacity=1);
  pointer-events: none;
height: 75px;
width: 530px;
  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 2px solid #C9C9C9;
background-color: #FFFFFF;
float: left;

margin-top: 10px;
margin-left: 10px;

 -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;

}

#tooltip.hidden {
  /*display: none;*/
  opacity: 0;
   -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: black;
}

div #legend ul{
  list-style: none;
  width: auto;


}

.social{
  clear: both;
  border:2px solid #292B25;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 2px solid #C9C9C9;
background-color: #FFFFFF;
float: left;
width: 320px;
height: 60px;
padding: 10px;
margin: 10px 0;
margin-right: 10px;
}

.legend{
  border:2px solid #292B25;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 2px solid #C9C9C9;
background-color: #FFFFFF;
float: left;
width: 580px;
height: 60px;
padding: 10px;
margin: 10px 0;
}

div .legend ul li{
  height: 40px;
  width: 40px;
    -webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
  
  display: inline-block;
  font-size: 10px;
  float: left;
  margin-right: 4px;

}

div .legend h1{
  clear: both;
}

.legend_text{
  padding-top: 4px;
  width: auto;
}
.legend_color1{
  width: 20px;
  background: #97BF3F;
  /*border:2px solid #292B25;*/
}
.legend_color2{
 width: 20px;
 background: #F2ECD8;
 /*border:2px solid #292B25;*/
}

.legend_color3{
 width: 20px;
 background: #FF4500;
 /*border:2px solid #292B25;*/
}

#viz{
  width: 670px;
  height: 320px;
  float: left;
   /*border:2px solid #292B25;*/
   -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 2px solid #C9C9C9;
background-color: #FFF;
}

#buttons{
width: 270px;
height: 320px;
float: left;
 border:2px solid #292B25;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 2px solid #C9C9C9;
background-color: #FFF;
margin-right: 10px;
clear: both;
}

#buttons h1{
  cursor: pointer;
  margin-bottom: 6px;
  width: 150px;
  font-size: 20px;
}

.axis path,
.axis line {
  fill: none;
}

.axisAge, .axisGender, .axisDate{
 display: none;
}

#kanter{
  /*clear: both;*/
  /*float: left;*/
  margin-bottom: 10px;
  width: 470px;
height: 60px;
float: left;
 border:2px solid #292B25;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 2px solid #C9C9C9;
background-color: #FFF;
margin-right: 10px;
}

#info{
  clear: both;
}
