@font-face {
  font-family: 'DroidSans';
  font-weight: normal;
  src: url(../fonts/DroidSans.ttf); 
}

@font-face {
  font-family: 'DroidSans-Bold';
  font-weight: bold;
  src: url(../fonts/DroidSans-Bold.ttf); 
}

html, body{
	font-family: 'DroidSans', Arial, Helvetica, sans-serif;
	/*background: #F5F5F5;*/
  background: #EEE;
}

.wrapper{
	margin: 0 auto;
	width:960px;
	background: #EEE;
  position: relative;
  margin-top: 20px;
}

.title{
  width: 400px;
  margin: 10px 0;
  padding: 5px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #C9C9C9;
  background-color: #FFF;
  float: left;
  height: 95px;
}

.title img{
  margin-top: 14px;
}

svg{
  /*border:solid pink;*/

}

.bubbles{
 stroke: #292B25;
 stroke-width: 1.5;
}

#tooltip {
  /*position: absolute;*/
  float: left;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: white;
  -moz-opacity: 1;
  opacity:1;
  filter: alpha(opacity=1);
  pointer-events: none;
  height: 95px;
  width: 530px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #C9C9C9;
  background-color: #FFFFFF;
  float: left;

  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;

  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;

}

#tooltip.hidden {
  /*display: none;*/
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

#tooltip p {
  font-family: 'DroidSans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: black;
    margin-left: 10px;
}

#tooltip p:first-child {
  margin-top: 5px;

}
#tooltip p strong{
  font-weight: bold;
  font-size: 15px;
}

div #legend ul{
  list-style: none;
  width: auto;


}

.social{
  clear: both;
  border:2px solid #292B25;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #C9C9C9;
  background-color: #FFFFFF;
  float: left;
  width: 90px;
  height: 60px;
  padding: 10px;
  margin: 10px 0;
  margin-right: 10px;
}

.twit-share-button{
  margin-top: 10px
}
.fb-share-button{
  margin-top: 5px
}
.legend{
  border:2px solid #292B25;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #C9C9C9;
  background-color: #FFFFFF;
  float: left;
  width: 476px;
  height: 60px;
  padding: 10px 0;
  margin: 10px 0;

}

.legend-block{
  border:2px solid #292B25;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #C9C9C9;
  background-color: #FFFFFF;
  float: left;
  width: 140px;
  height: 40px;
  margin-left: 10px;
}

div .legend ul li{
  height: 35px;
  width: 35px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;

  display: inline-block;
  font-size: 10px;
  float: left;

  margin: 2px;

}

div .legend h1{
  clear: both;
  font-size: 11px;
  margin-left: 10px;
}

.legend_text{
  padding-top: 4px;
  width: auto;
}
.legend_color1{
  width: 20px;
  background: #97BF3F;
  /*border:2px solid #292B25;*/
}
.legend_color2{
 width: 20px;
 background: #F2ECD8;
 /*border:2px solid #292B25;*/
}

.legend_color3{
 width: 20px;
 background: #FF4500;
 /*border:2px solid #292B25;*/
}

#viz{
  width: 670px;
  height: 320px;
  float: left;
  /*border:2px solid #292B25;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #C9C9C9;
  background-color: #FFF;
}

/*.tick {
  border:2px solid #292B25;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #C9C9C9;
  background-color: #FFF;
  margin-right: 10px;
}*/

.buttons{
  width: 270px;
  height: 320px;
  float: left;
  border:2px solid #292B25;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #C9C9C9;
  background-color: #FFF;
  margin-right: 10px;
  clear: both;
}

.buttons h1{
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 10px;
   margin-top: 10px;
  height: 38px;
  width: 220px;
  font-size: 20px;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 4px;
  /*margin: 15px;*/
  line-height: 30px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-color: #E6E6E6;
}


#sort{
  background-color:#b3b2b2;
  color: white;
}

#df-logo {
  background-image: url('../images/df_logo.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100px;
    width: 100px;
  height: 26px;
position: absolute;
/*    left: 407px;
  top: 25px;*/
}

.axis path,
.axis line {
  fill: none;
}

.axisAge, .axisGender, .axisDate{
 display: none;
}

#kanter{
  border:2px solid #292B25;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #C9C9C9;
  background-color: #FFFFFF;
  float: left;
  width: 320px;
  height: 60px;
  padding: 10px;
  margin: 10px 0;
  margin-right: 10px;
}

#kanter h1{
  font-size: 18px;
}
#kanter a{
font-size: 11px;
color: #FF4500;
text-decoration: none;

}

#info{
  clear: both;
}


